langchain
langchain-openai
langchain-community
langchain-weaviate
openai
weaviate-client
fastapi
python-dotenv
pydantic
pdfplumber
pymupdf
redis
sqlalchemy
ragas
langsmith
boto3
pytesseract 
opencv-python-headless 
pillow